<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.animetick.animetick_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/action_bar_logo"
        android:theme="@style/MainTheme" >
        <activity
            android:name="net.animetick.animetick_android.activity.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.animetick.animetick_android.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="net.animetick.animetick_android.activity.AnimeEpisodeActivity"
            android:label="@string/title_activity_anime" >
        </activity>
    </application>

</manifest>
